In [1]:
import pandas as pd
from model import OptimizationModel

In [2]:
model = OptimizationModel()

input_df = pd.DataFrame([1, 2, 3, 4, 5, 6, 7, 8], index=model.features).T
input_df

   X1  X2  X3  X4  X5  X6  U1  U2
0   1   2   3   4   5   6   7   8

### Перебір можливих варіантів лікування

In [10]:
result = model.optimize(input_df)[0]

'відхилення = 6.328254366438699'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6   0  14  60.347318  6.644029  0.993828  60.671746

'відхилення = 5.090581933503984'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6   0  17  57.765216  7.796123  1.014134  61.909418

'відхилення = 3.8529095005692753'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9       X10
0   1   2   3   4   5   6   0  20  55.183113  8.948218  1.034439  63.14709

'відхилення = 2.6152370676345527'

   X1  X2  X3  X4  X5  X6  U1  U2        X7         X8        X9        X10
0   1   2   3   4   5   6   0  23  52.60101  10.100313  1.054745  64.384763

'відхилення = 1.3775646346998514'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6   0  26  50.018907  11.252408  1.075051  65.622435

'відхилення = 0.13989220176513584'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6   0  29  47.436805  12.404503  1.095357  66.860108

'відхилення = 6.375280814685368'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6   3  14  60.366152  6.644151  0.991442  60.624719

'відхилення = 5.137608381750653'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6   3  17  57.784049  7.796246  1.011748  61.862392

'відхилення = 3.899935948815944'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6   3  20  55.201946  8.948341  1.032054  63.100064

'відхилення = 2.6622635158812216'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8       X9        X10
0   1   2   3   4   5   6   3  23  52.619843  10.100435  1.05236  64.337736

'відхилення = 1.4245910829465203'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6   3  26  50.037741  11.25253  1.072666  65.575409

'відхилення = 0.18691865001180474'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6   3  29  47.455638  12.404625  1.092972  66.813081

'відхилення = 6.422307262932037'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6   6  14  60.384985  6.644273  0.989057  60.577693

'відхилення = 5.184634829997329'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6   6  17  57.802882  7.796368  1.009363  61.815365

'відхилення = 3.946962397062613'

   X1  X2  X3  X4  X5  X6  U1  U2        X7        X8        X9        X10
0   1   2   3   4   5   6   6  20  55.22078  8.948463  1.029669  63.053038

'відхилення = 2.7092899641278905'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9       X10
0   1   2   3   4   5   6   6  23  52.638677  10.100558  1.049975  64.29071

'відхилення = 1.4716175311931892'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6   6  26  50.056574  11.252652  1.070281  65.528382

'відхилення = 0.23394509825847365'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6   6  29  47.474471  12.404747  1.090587  66.766055

'відхилення = 6.469333711178706'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6   9  14  60.403818  6.644396  0.986672  60.530666

'відхилення = 5.2316612782439975'

   X1  X2  X3  X4  X5  X6  U1  U2         X7       X8        X9        X10
0   1   2   3   4   5   6   9  17  57.821716  7.79649  1.006978  61.768339

'відхилення = 3.993988845309282'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6   9  20  55.239613  8.948585  1.027284  63.006011

'відхилення = 2.7563164123745594'

   X1  X2  X3  X4  X5  X6  U1  U2        X7        X8       X9        X10
0   1   2   3   4   5   6   9  23  52.65751  10.10068  1.04759  64.243684

'відхилення = 1.518643979439858'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6   9  26  50.075407  11.252775  1.067896  65.481356

'відхилення = 0.28097154650514256'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6   9  29  47.493305  12.40487  1.088202  66.719028

'відхилення = 6.516360159425382'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9       X10
0   1   2   3   4   5   6  12  14  60.422652  6.644518  0.984287  60.48364

'відхилення = 5.278687726490666'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6  12  17  57.840549  7.796613  1.004593  61.721312

'відхилення = 4.041015293555951'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6  12  20  55.258446  8.948708  1.024899  62.958985

'відхилення = 2.8033428606212425'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6  12  23  52.676344  10.100802  1.045205  64.196657

'відхилення = 1.565670427686527'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9       X10
0   1   2   3   4   5   6  12  26  50.094241  11.252897  1.065511  65.43433

'відхилення = 0.32799799475181146'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6  12  29  47.512138  12.404992  1.085816  66.672002

'відхилення = 6.563386607672051'

   X1  X2  X3  X4  X5  X6  U1  U2         X7       X8        X9        X10
0   1   2   3   4   5   6  15  14  60.441485  6.64464  0.981902  60.436613

'відхилення = 5.325714174737335'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6  15  17  57.859382  7.796735  1.002208  61.674286

'відхилення = 4.08804174180262'

   X1  X2  X3  X4  X5  X6  U1  U2        X7       X8        X9        X10
0   1   2   3   4   5   6  15  20  55.27728  8.94883  1.022513  62.911958

'відхилення = 2.8503693088679114'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6  15  23  52.695177  10.100925  1.042819  64.149631

'відхилення = 1.6126968759331959'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6  15  26  50.113074  11.253019  1.063125  65.387303

'відхилення = 0.37502444299848037'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6  15  29  47.530971  12.405114  1.083431  66.624976

'відхилення = 6.61041305591872'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6  18  14  60.460319  6.644763  0.979516  60.389587

'відхилення = 5.372740622984004'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6  18  17  57.878216  7.796857  0.999822  61.627259

'відхилення = 4.135068190049296'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6  18  20  55.296113  8.948952  1.020128  62.864932

'відхилення = 2.8973957571145803'

   X1  X2  X3  X4  X5  X6  U1  U2        X7         X8        X9        X10
0   1   2   3   4   5   6  18  23  52.71401  10.101047  1.040434  64.102604

'відхилення = 1.6597233241798648'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8       X9        X10
0   1   2   3   4   5   6  18  26  50.131907  11.253142  1.06074  65.340277

'відхилення = 0.4220508912451493'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6  18  29  47.549805  12.405237  1.081046  66.577949

### Найкращі лікування:

In [18]:
for r in result:
    score = r['score']
    df = pd.DataFrame([r['parameters']])
    display(f'відхилення = {score}')
    display(df)

'відхилення = 0.13989220176513584'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6   0  29  47.436805  12.404503  1.095357  66.860108

'відхилення = 0.18691865001180474'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6   3  29  47.455638  12.404625  1.092972  66.813081

'відхилення = 0.23394509825847365'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6   6  29  47.474471  12.404747  1.090587  66.766055

'відхилення = 0.28097154650514256'

   X1  X2  X3  X4  X5  X6  U1  U2         X7        X8        X9        X10
0   1   2   3   4   5   6   9  29  47.493305  12.40487  1.088202  66.719028

'відхилення = 0.32799799475181146'

   X1  X2  X3  X4  X5  X6  U1  U2         X7         X8        X9        X10
0   1   2   3   4   5   6  12  29  47.512138  12.404992  1.085816  66.672002